* {
  scrollbar-width: auto;
  scrollbar-color: var(--accent-color) transparent;
  outline-color: var(--accent-color);
}

body {
  color: var(--text-primary);
  background-color: var(--primary-color);
  font-family: var(--text-font);
}

main {
  margin: 0 auto;
  padding: 80px 10px;
  padding-bottom: 0;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  overflow: hidden;
}

a,
input,
button,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-primary);
  font-family: var(--title-font);
}
