h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-primary);
  font-family: var(--title-font);
}

body {
  color: var(--text-primary);
  background-color: var(--primary-color);
  font-size: var(--font-size-base);
  font-family: var(--text-font);
}
