* {
  scrollbar-width: auto;
  scrollbar-color: var(--accent-color) transparent;
  outline-color: var(--accent-color);
}

body {
  color: var(--text-primary);
  background-color: var(--primary-color);
  font-family: var(--text-font);
}

main {
  padding-top: 80px;
  min-height: 100vh;
}

a,
input,
button,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-primary);
  font-family: var(--title-font);
}
