@import 'tailwindcss';
@import './themes/standard.css';
@import './themes/notepad.css';

@custom-variant dark (&:where([data-theme$="-dark"] *));

@theme {
  --color-white: #fff;
  --color-bg: var(--bg);
  --color-foreground: var(--text);
  --font-body: var(--font-body-family);
  --font-heading: var(--font-heading-family);

  /* Scroll */
  --color-scrollbar-track: var(--scrollbar-track);
  --color-scrollbar-thumb: var(--scrollbar-thumb);
  --color-scrollbar-thumb-hover: var(--scrollbar-thumb-hover);

  /* Statuses */
  --color-status-error: #ef4444;
  --color-status-success: #10b981;
  --color-status-warning: #f59e0b;

  /* Buttons */
  --color-button-primary-bg: var(--button-primary-bg);
  --color-button-primary-bg-hover: var(--button-primary-bg-hover);
  --color-button-primary-bg-disabled: var(--button-primary-bg-disabled);
  --color-button-primary-text: var(--button-primary-text);
  --color-button-primary-text-disabled: var(--button-primary-text-disabled);
  --color-button-secondary-bg-hover: var(--button-secondary-bg-hover);
  --color-button-secondary-bg-disabled: var(--button-secondary-bg-disabled);
  --color-button-secondary-text: var(--button-secondary-text);
  --color-button-secondary-text-hover: var(--button-secondary-text-hover);
  --color-button-secondary-text-disabled: var(--button-secondary-text-disabled);
  --color-button-secondary-border: var(--button-secondary-border);
  --color-button-secondary-border-hover: var(--button-secondary-border-hover);
  --color-button-secondary-border-disabled: var(--button-secondary-border-disabled);

  /* Inputs */
  --color-input-bg: var(--input-bg);
  --color-input-bg-disabled: var(--input-bg-disabled);
  --color-input-text: var(--input-text);
  --color-input-text-disabled: var(--input-text-disabled);
  --color-input-border: var(--input-border);
  --color-input-border-hover: var(--input-border-hover);
  --color-input-border-focus: var(--input-border-focus);
  --color-input-border-disabled: var(--input-border-disabled);
  --color-input-border-error: var(--input-border-error);
  --color-input-border-error-disabled: var(--input-border-error-disabled);
  --color-input-placeholder: var(--input-placeholder);
  --color-input-chip-bg: var(--input-chip-bg);
  --color-input-chip-bg-disabled: var(--input-chip-bg-disabled);
  --color-input-chip-text: var(--input-chip-text);
  --color-input-chip-text-disabled: var(--input-chip-text-disabled);
  --color-input-chip-border: var(--input-chip-border);
  --color-input-chip-border-disabled: var(--input-chip-border-disabled);
  --color-input-option-bg-selected: var(--input-option-bg-selected);
  --color-input-option-text-selected: var(--input-option-text-selected);
  --color-input-option-bg-hover: var(--input-option-bg-hover);
  --color-input-option-text-hover: var(--input-option-text-hover);

  /* Icons */
  --color-icon-primary: var(--icon-primary);
}

body {
  @apply bg-bg text-foreground font-body transition-colors duration-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

::-webkit-scrollbar {
  @apply h-3.5 w-3.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-scrollbar-thumb rounded-3xl border-3 border-transparent bg-clip-content;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-scrollbar-thumb-hover;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-scrollbar-thumb-hover;
}

::-webkit-scrollbar:horizontal {
  @apply h-3.5;
}

::-webkit-scrollbar-corner {
  @apply bg-transparent;
}
