.container {
  overflow: auto;
  outline: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  will-change: transform;
}

.list__option {
  font: inherit;
  gap: 10px;
  width: 100%;
  padding: 6px 10px;
  cursor: pointer;
  align-items: center;
  border-radius: var(--item-border-radius);
  transition:
    background-color var(--transition-momentary),
    border-color var(--transition-momentary);
  border: 1px solid transparent;
  color: var(--field-secondary-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: var(--field-secondary-background-hover);
    color: var(--field-secondary-text-hover);
  }

  &_focused {
    border-color: var(--field-secondary-border-hover);
  }

  &_selected {
    background-color: var(--field-secondary-background-active);
    color: var(--field-secondary-text-active);
    cursor: default;

    &:hover,
    &:focus {
      background-color: var(--field-secondary-background-active);
    }

    &.list__option_focused {
      border-color: var(--field-secondary-border-active);
    }
  }

  &_multiple {
    cursor: pointer;
  }

  &_disable {
    cursor: default;
    background-color: var(--field-secondary-background-disabled);
    color: var(--field-secondary-text-disabled);

    &:hover,
    &:focus {
      background-color: var(--field-secondary-background-disabled);
      color: var(--field-secondary-text-disabled);
    }

    &.list__option_focused {
      border-color: var(--field-secondary-border-disabled);
    }
  }
}
