.select {
  position: relative;
  width: 100%;
  outline: none;

  &:focus-visible {
    outline: 2px solid var(--field-primary-border-active);
    outline-offset: 2px;
    border-radius: var(--field-border-radius);
  }
}
