.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  transition:
    background-color var(--transition-fast) ease-in-out,
    color var(--transition-fast) ease-in-out;
  border: none;
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: -0.1px;
  font-size: 16px;

  &:disabled {
    cursor: default;
  }
}

.primary,
.secondary {
  padding: 8px 13px;
  border-radius: 12px;
}

.primary {
  background-color: var(--button-primary-background);
  color: var(--button-primary-text);

  &:hover,
  &:focus-visible {
    background-color: var(--button-primary-background-hover);
    color: var(--button-primary-text-hover);
  }

  &:active {
    background-color: var(--button-primary-background-active);
    color: var(--button-primary-text-active);
  }

  &:disabled {
    background-color: var(--button-primary-background-disabled);
    color: var(--button-primary-text-disabled);
  }
}

.secondary {
  background-color: var(--button-secondary-background);
  color: var(--button-secondary-text);

  &:hover {
    background-color: var(--button-secondary-background-hover);
    color: var(--button-secondary-text-hover);
  }

  &:active,
  &:focus-visible {
    background-color: var(--button-secondary-background-active);
    color: var(--button-secondary-text-hover);
  }

  &:disabled {
    background-color: var(--button-secondary-background-disabled);
    color: var(--button-secondary-text-disabled);
  }
}

.clear {
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: var(--title-primary);

  &:disabled {
    color: var(--title-primary-disabled);
  }
}
