.value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 15px;
}

.value__options {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  flex-grow: 1;
  gap: 5px;
}

.value__counter {
  display: flex;
  align-items: center;
  cursor: default;
  gap: 1px;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: var(--item-border-radius);
  color: var(--field-secondary-text);
  background-color: var(--field-secondary-background-active);

  .value_disabled & {
    background-color: var(--field-secondary-background-disabled);
  }
}

.value__selected {
  font: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--field-primary-text);

  &_multiple {
    gap: 10px;
    background-color: var(--field-secondary-background);
    padding: 3px 10px;
    border-radius: var(--item-border-radius);
    cursor: default;

    .value_disabled & {
      background-color: var(--field-secondary-background-disabled);
      color: var(--field-primary-text-disabled);
    }
  }
}

.value__remove {
  background-color: transparent;
  border: none;
  display: block;
  width: 14px;
  padding: 2px;

  &_all {
    width: 16px;
  }

  .value_disabled & {
    cursor: default;
  }
}

.value__buttons {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 10px;
}

.value__arrow {
  width: 16px;
  transition: transform var(--transition-momentary);
  transform: rotate(-90deg);

  &_rotate {
    transform: rotate(0deg);
  }

  &_top {
    transform: rotate(-180deg);

  }
}

.value__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  & > div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out;
    background-color: var(--icon-secondary-disabled);

    &:nth-child(1) {
      animation-delay: -0.32s;
    }

    &:nth-child(2) {
      animation-delay: -0.16s;
    }

    &:nth-child(3) {
      animation-delay: 0s;
    }
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    background-color: var(--icon-secondary-active);
    transform: translateY(50%);
  }

  40% {
    background-color: var(--icon-secondary-disabled);
    transform: translateY(-50%);
  }
}
