.select {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  min-height: 40px;

  &__dropdown {
    position: absolute;
    display: flex;
    gap: 8px;
    flex-direction: column;
    z-index: var(--z-index-dropdown);
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 7px;
    background-color: var(--primary-color);
    list-style: none;
    box-shadow: 0 10px 25px var(--box-shadow);
    max-height: 0px;
    opacity: 0;
    transition: opacity var(--transition-fast),
      border-radius var(--transition-fast),
      max-height var(--transition-fast);
    padding: 8px 0 10px;
    pointer-events: none;

    &_isOpen {
      pointer-events: all;
      border-radius: 0 0 7px 7px;
      opacity: 1;
      max-height: attr(data-dropdown-height px);

      &.small {
        max-height: 150px;
      }

      &.medium {
        max-height: 200px;
      }

      &.large {
        max-height: 250px;
      }

    }
  }

  &__searchBox {
    width: 100%;
    padding: 0 10px;
  }

  &__search {
    width: 100%;
    display: block;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    outline: none;
    transition: border 0.15s ease-in-out;

    &:active,
    &:focus {
      border: 1px solid var(--accent-color);
    }
  }
}