.value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 15px;
}

.value__options {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  flex-grow: 1;
  gap: 5px;
}

.value__counter {
  display: flex;
  align-items: center;
  cursor: default;
  gap: 1px;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: var(--item-border-radius);
  color: var(--field-secondary-text);
  background-color: var(--field-secondary-background-active);

  .value_disabled & {
    background-color: var(--field-secondary-background-disabled);
  }
}

.value__selected {
  font: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--field-primary-text);

  &_multiple {
    gap: 10px;
    background-color: var(--field-secondary-background);
    padding: 3px 10px;
    border-radius: var(--item-border-radius);
    cursor: default;

    .value_disabled & {
      background-color: var(--field-secondary-background-disabled);
      color: var(--field-primary-text-disabled);
    }
  }
}

.value__remove {
  background-color: transparent;
  border: none;
  display: block;
  width: 14px;
  padding: 2px;

  &_all {
    width: 16px;
  }

  .value_disabled & {
    cursor: default;
  }
}
