[data-theme='notepad-light'] {
  --bg: #f8f4e8;
  --text: #3b3b3b;
  --font-body-family: var(--font-eb-garamond), sans-serif;
  --font-heading-family: var(--font-literata), sans-serif;

  /* Buttons */
  --button-primary-bg: #8b5a2b;
  --button-primary-text: #f8f4e8;
  --button-primary-hover: #6b4226;
  --button-primary-disabled-bg: #d9cbb8;
  --button-primary-disabled-text: #7a7a7a;
  --button-secondary-border: #8b5a2b;
  --button-secondary-text: #8b5a2b;
  --button-secondary-hover-bg: #e8ddcc;
  --button-secondary-hover-border: #6b4226;
  --button-secondary-hover-text: #6b4226;
  --button-secondary-disabled-bg: transparent;
  --button-secondary-disabled-border: #d9cbb8;
  --button-secondary-disabled-text: #7a7a7a;

  /* Inputs */
  --input-background: var(--bg);
  --input-border: #ddceb9;
  --input-border-hover: #ccb69c;
  --input-border-focus: #8b5a2b;
  --input-border-disabled: #ede5d5;
  --input-border-error: #ef4444;
  --input-border-error-disabled: #efb3b3;
  --input-background-disabled: #f3ecdf;
  --input-text: var(--text);
  --input-placeholder: #908e89;
  --input-text-disabled: #b6b3ab;
  --input-chip-bg: #e8ddcc;
  --input-chip-border: #8b5a2b;
  --input-chip-text: #3b3b3b;
  --input-chip-disabled-bg: #f3ecdf;
  --input-chip-disabled-border: #ede5d5;
  --input-chip-disabled-text: #b6b3ab;
  --input-option-selected-bg: #e8ddcc;
  --input-option-selected-text: #3b3b3b;

  /* Icons */
  --icon-primary: #6b4f3f;
}

[data-theme='notepad-dark'] {
  --bg: #2b2b2b;
  --text: #e0e0e0;
  --font-body-family: var(--font-eb-garamond), sans-serif;
  --font-heading-family: var(--font-literata), sans-serif;
  --color-white: #fff;

  /* Icons */
  --icon-secondary: #b0a090;

  /* Buttons */
  --button-primary-bg: #b87c4b;
  --button-primary-text: #2b2b2b;
  --button-primary-hover: #9b5e2e;
  --button-primary-disabled-bg: #4a4139;
  --button-primary-disabled-text: #8f8f8f;
  --button-secondary-border: #b87c4b;
  --button-secondary-text: #b87c4b;
  --button-secondary-hover-bg: #473b31;
  --button-secondary-hover-border: #9b5e2e;
  --button-secondary-hover-text: #9b5e2e;
  --button-secondary-disabled-bg: #3a332e;
  --button-secondary-disabled-border: #4a4139;
  --button-secondary-disabled-text: #8f8f8f;

  /* Inputs */
  --input-background: var(--bg);
  --input-border: #554335;
  --input-border-hover: #72543b;
  --input-border-focus: #b87c4b;
  --input-border-disabled: #403730;
  --input-border-error: #ef4444;
  --input-border-error-disabled: #efb3b3;
  --input-background-disabled: #36312e;
  --input-text: var(--text);
  --input-placeholder: #8f8f8f;
  --input-text-disabled: #6a6a6a;
  --input-chip-bg: #473b31;
  --input-chip-border: #b87c4b;
  --input-chip-text: #e0e0e0;
  --input-chip-disabled-bg: #36312e;
  --input-chip-disabled-border: #403730;
  --input-chip-disabled-text: #6a6a6a;
  --input-option-selected-bg: #473b31;
  --input-option-selected-text: #e0e0e0;

  /* Icons */
  --icon-primary: #b0a090;
}
