[data-theme='standard-light'] {
  --bg: #fff;
  --text: #1f2937;
  --font-body-family: var(--font-open-sans), sans-serif;
  --font-heading-family: var(--font-montserrat), sans-serif;

  /* Buttons */
  --button-primary-bg: #3b82f6;
  --button-primary-text: #fff;
  --button-primary-hover: #2563eb;
  --button-primary-disabled-bg: #e2e8f0;
  --button-primary-disabled-text: #6b7280;
  --button-secondary-border: #3b82f6;
  --button-secondary-text: #3b82f6;
  --button-secondary-hover-bg: #ebf3fe;
  --button-secondary-hover-border: #2563eb;
  --button-secondary-hover-text: #2563eb;
  --button-secondary-disabled-bg: #f1f5f9;
  --button-secondary-disabled-border: #e2e8f0;
  --button-secondary-disabled-text: #6b7280;

  /* Inputs */
  --input-background: var(--bg);
  --input-border: #d8e6fd;
  --input-border-hover: #bad3fc;
  --input-border-focus: #3b82f6;
  --input-border-disabled: #ebf3fe;
  --input-border-error: #ef4444;
  --input-background-disabled: #f5f9ff;
  --input-text: var(--text);
  --input-placeholder: #848991;
  --input-text-disabled: #b1b4b9;

  /* Icons */
  --icon-primary: #6b7280;
}

[data-theme='standard-dark'] {
  --bg: #111827;
  --text: #f9fafb;
  --font-body-family: var(--font-open-sans), sans-serif;
  --font-heading-family: var(--font-montserrat), sans-serif;

  /* Buttons */
  --button-primary-bg: #60a5fa;
  --button-primary-text: #111827;
  --button-primary-hover: #3b82f6;
  --button-primary-disabled-bg: #2d3748;
  --button-primary-disabled-text: #a0aec0;
  --button-secondary-border: #60a5fa;
  --button-secondary-text: #60a5fa;
  --button-secondary-hover-bg: #21344e;
  --button-secondary-hover-border: #3b82f6;
  --button-secondary-hover-text: #3b82f6;
  --button-secondary-disabled-bg: #1e293b;
  --button-secondary-disabled-border: #2d3748;
  --button-secondary-disabled-text: #a0aec0;

  /* Inputs */
  --input-background: var(--bg);
  --input-border: #253b59;
  --input-border-hover: #355784;
  --input-border-focus: #60a5fa;
  --input-border-disabled: #1a293d;
  --input-border-error: #ef4444;
  --input-background-disabled: #172232;
  --input-text: var(--text);
  --input-placeholder: #91949a;
  --input-text-disabled: #62676f;

  /* Icons */
  --icon-primary: #9ca3af;
}
