.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  overflow: hidden hidden;
  padding: 0 10px;
  transition: overflow var(--transition-slow);
  
  &_isOpen{
    overflow: hidden auto;
  }
  
  &__option {
    font: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 6px 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    transition: background-color var(--transition-momentary) ease-in-out,  border-color var(--transition-momentary) ease-in-out;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      background-color: var(--secondary-color);
    }
  
    &_selected {
      background-color: var(--secondary-color);
      color: var(--accent-color);
      cursor: default;
    }
  
    &_multiple {
      cursor: pointer;
    }
  
    &_focused {
      border-color: var(--accent-color);
    }
  }
}

