.search {
  width: 100%;
}

.input {
  width: 100%;
  display: block;
  padding: 6px 10px;
  font-size: 16px;
  border-radius: var(--field-border-radius);
  background-color: var(--field-primary-background);
  border: 1px solid var(--field-primary-border);
  outline: none;
  transition:
    border 0.15s ease-in-out,
    color 0.15s ease-in-out;
  color: var(--field-primary-text);

  &::placeholder {
    text-overflow: ellipsis;
    color: var(--field-primary-placeholder);
  }

  &:hover {
    border: 1px solid var(--field-primary-border-hover);
    color: var(--field-primary-text-hover);
  }

  &:active,
  &:focus-visible {
    border: 1px solid var(--field-primary-border-active);
    color: var(--field-primary-text-active);
  }
}
