.switcher {
  display: flex;
  align-items: center;
  gap: 10px;

  &__button {
    width: 25px;
    height: 25px;
  }
}

[data-theme='light'] .switcher {
  &__button_light svg {
    stroke: var(--icon-primary);
  }

  &__button_dark svg {
    stroke: var(--icon-secondary);
  }
}

[data-theme='dark'] .switcher {
  &__button_dark svg {
    stroke: var(--icon-primary);
  }

  &__button_light svg {
    stroke: var(--icon-secondary);
  }
}

[data-theme='light'] .switcher__button_dark:hover svg {
  stroke: var(--icon-primary-hover);
}

[data-theme='dark'] .switcher__button_light:hover svg {
  stroke: var(--icon-primary-hover);
}
